{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
