/*#home section:not(:first-child) {*/
/*    height: 100vh;*/
/*    display: flex;*/
/*}*/
.bg-img-1 {
    background-image: url('@/assets/img/luz.jpg');
}
.bg-img-3 {
    background-image: url('@/assets/img/6.jpg');
    background-position: left bottom;
}
.bg-img-2 {
    background-image: url('@/assets/img/2.jpg');
}
.bg-img-4 {
    background-image: url('@/assets/img/4.jpg');
    background-position: left bottom;
}
.bg-img-abstract {
    background-image: url('@/assets/img/bg.png');
    background-position: right bottom;
}
.bg-parallax-image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.text-shadow-white {
    text-shadow: 1px 1px 1px var(--white-color);
}

.block-connection .icon {
    @apply bg-transparent border-accent rounded-full border-2 p-2 mb-2;
}
.block-connection .p-button{
    @apply bg-accent text-white mt-4 border-primary;
}

@keyframes scroll-dot {
    0% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }
    40% {
        transform: translateY(0.5rem);
        opacity: 0.8;
    }
    60% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.scroll-indicator {
    width: 1rem;
    height: 2rem;
    border: 2px solid var(--accent-color-500);
    border-radius: 9999px;
    position: absolute;
}

.scroll-dot {
    animation: scroll-dot 1.5s infinite;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-color-500);
    border-radius: 9999px;
    position: absolute;
}

#sidebar{
    color: var(--white-color);
    width: 18rem;
    background-color: var(--primary-color);
    position: fixed;
    height: 100vh;
    text-align: right;
    /* relative left-0 top-0 z-50 hidden h-screen w-72 cursor-default bg-sidebar pb-2 pl-10 pr-10 pt-10 sm:fixed sm:block sm:overflow-y-auto sm:overflow-x-hidden sm:text-right */
}
#sidebar > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%;
}

body.is-ie #sidebar > .inner {
    height: 100%;
}

#sidebar > ul {
    list-style: none;
    padding: 0;
}

#sidebar > ul > li {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
    -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
    transition: opacity 0.15s ease, transform 0.75s ease;
    margin: 1.5em 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
}

#sidebar > ul > li:first-child {
    margin: 0;
}

#sidebar > ul > li:nth-child(1) {
    -moz-transition-delay: 0.45s;
    -webkit-transition-delay: 0.45s;
    -ms-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

#sidebar > ul > li:nth-child(2) {
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
}

#sidebar > ul > li:nth-child(3) {
    -moz-transition-delay: 0.85s;
    -webkit-transition-delay: 0.85s;
    -ms-transition-delay: 0.85s;
    transition-delay: 0.85s;
}

#sidebar > ul > li:nth-child(4) {
    -moz-transition-delay: 1.05s;
    -webkit-transition-delay: 1.05s;
    -ms-transition-delay: 1.05s;
    transition-delay: 1.05s;
}

#sidebar > ul > li:nth-child(5) {
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
}

#sidebar > ul > li:nth-child(6) {
    -moz-transition-delay: 1.45s;
    -webkit-transition-delay: 1.45s;
    -ms-transition-delay: 1.45s;
    transition-delay: 1.45s;
}

#sidebar > ul > li:nth-child(7) {
    -moz-transition-delay: 1.65s;
    -webkit-transition-delay: 1.65s;
    -ms-transition-delay: 1.65s;
    transition-delay: 1.65s;
}

#sidebar > ul > li:nth-child(8) {
    -moz-transition-delay: 1.85s;
    -webkit-transition-delay: 1.85s;
    -ms-transition-delay: 1.85s;
    transition-delay: 1.85s;
}

#sidebar > ul > li:nth-child(9) {
    -moz-transition-delay: 2.05s;
    -webkit-transition-delay: 2.05s;
    -ms-transition-delay: 2.05s;
    transition-delay: 2.05s;
}

#sidebar > ul > li:nth-child(10) {
    -moz-transition-delay: 2.25s;
    -webkit-transition-delay: 2.25s;
    -ms-transition-delay: 2.25s;
    transition-delay: 2.25s;
}

#sidebar > ul > li:nth-child(11) {
    -moz-transition-delay: 2.45s;
    -webkit-transition-delay: 2.45s;
    -ms-transition-delay: 2.45s;
    transition-delay: 2.45s;
}

#sidebar > ul > li:nth-child(12) {
    -moz-transition-delay: 2.65s;
    -webkit-transition-delay: 2.65s;
    -ms-transition-delay: 2.65s;
    transition-delay: 2.65s;
}

#sidebar > ul > li:nth-child(13) {
    -moz-transition-delay: 2.85s;
    -webkit-transition-delay: 2.85s;
    -ms-transition-delay: 2.85s;
    transition-delay: 2.85s;
}

#sidebar > ul > li:nth-child(14) {
    -moz-transition-delay: 3.05s;
    -webkit-transition-delay: 3.05s;
    -ms-transition-delay: 3.05s;
    transition-delay: 3.05s;
}

#sidebar > ul > li:nth-child(15) {
    -moz-transition-delay: 3.25s;
    -webkit-transition-delay: 3.25s;
    -ms-transition-delay: 3.25s;
    transition-delay: 3.25s;
}

#sidebar > ul > li:nth-child(16) {
    -moz-transition-delay: 3.45s;
    -webkit-transition-delay: 3.45s;
    -ms-transition-delay: 3.45s;
    transition-delay: 3.45s;
}

#sidebar > ul > li:nth-child(17) {
    -moz-transition-delay: 3.65s;
    -webkit-transition-delay: 3.65s;
    -ms-transition-delay: 3.65s;
    transition-delay: 3.65s;
}

#sidebar > ul > li:nth-child(18) {
    -moz-transition-delay: 3.85s;
    -webkit-transition-delay: 3.85s;
    -ms-transition-delay: 3.85s;
    transition-delay: 3.85s;
}

#sidebar > ul > li:nth-child(19) {
    -moz-transition-delay: 4.05s;
    -webkit-transition-delay: 4.05s;
    -ms-transition-delay: 4.05s;
    transition-delay: 4.05s;
}

#sidebar > ul > li:nth-child(20) {
    -moz-transition-delay: 4.25s;
    -webkit-transition-delay: 4.25s;
    -ms-transition-delay: 4.25s;
    transition-delay: 4.25s;
}

#sidebar a {
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    border: 0;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
    line-height: 1.75;
    outline: 0;
    padding: 1.35em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#sidebar a:before, #sidebar a:after {
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 0.2em;
    position: absolute;
    right: 0;
    width: 100%;
}

#sidebar a:before {
    background: var(--light-surface-800);
}

#sidebar a:after {
    background-image: -moz-linear-gradient(to right, var(--light-surface-500), var(--accent-color-500));
    background-image: -webkit-linear-gradient(to right, var(--light-surface-500), var(--accent-color-500));
    background-image: -ms-linear-gradient(to right, var(--light-surface-500), var(--accent-color-500));
    background-image: linear-gradient(to right, var(--light-surface-500), var(--accent-color-500));
    -moz-transition: max-width 0.2s ease;
    -webkit-transition: max-width 0.2s ease;
    -ms-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    max-width: 0;
}

#sidebar a:hover {
    color: rgba(255, 255, 255, 0.55);
}

#sidebar a.active {
    color: #ffffff;
}

#sidebar a.active:after {
    max-width: 100%;
}

body.is-preload #sidebar > .inner {
    opacity: 0;
}

body.is-preload #sidebar ul li {
    -moz-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
}
/*
@media screen and (max-width: 500px) {
    #home section:not(:first-child) {
        @apply h-auto block;
    }
}
!* media query para landscape *!
@media screen  and (orientation: landscape) {
    #home section {
        @apply h-auto block;
    }
}
*/
